<body style="background-color: #cfff7c;">
    <div class="post_show">
        <h1><%= @post.title %></h1>
        <p>
            <h3><%= @post.body %></h3>
        </p>

        <% @post.comments.each do |comment| %>
        <p>
            <%= comment.body %>
        </p>

        <% end %>
    </div>

    <div class="post_show_button">
        <button type="button" class="btn btn-secondary" type="button">
            <%= link_to 'Edit', edit_city_post_path %>
        </button>

        <button type="button" class="btn btn-secondary" type="button">
            <%= link_to 'Delete', city_post_path(@city),
                          method: :delete,
                          data: { confirm: 'Are you sure?'}%>
        </button>

        <button type="button" class="btn btn-secondary" type="button">
            <%= link_to 'Back', city_path(@city) %>
        </button>

    </div>
    <bpdy>
