<% @post.comments.each do |comment| %>
<%= comment.body %>
<% end %>
<%= @post %>

<%= form_for([@post, @post.comments.build])  do |t| %>

  <p>
    <%= t.label :body %>
    <%= t.text_area :body %>
  </p>
  <p>
    <%= t.submit %>
  </p>

<% end %>
